<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<link rel="stylesheet" href="../static/styles/main.css">
<head>
  <title>Nauka Słówek</title>
  <link rel="stylesheet" th:href="@{/styles/main.css}">
</head>
<body>
<main class="main-content" layout:fragment="content">
  <p class="notification-bar" th:if="${message}" th:text="${message}">Belka z powiadomieniami</p>
  <a th:href="@{/learn/category}"><h1>Wybierz język</h1></a>
  <div class="form-div">
    <form class="searchForm" method="get" th:action="@{/learn/category}">
      <label for="categoryName">Wyszukaj język</label>
      <input name="categoryName" id="categoryName" placeholder="Wpisz jaki język chcesz wyszukać">
      <button id="searchCategoryButton" type="submit"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
    </form>
  </div>
  <div class="categories">
    <ul th:each="category: ${categories}">
      <li class="category-item">
        <form th:action="@{|/learn/category/${category.id}|}" method="get">
          <a th:text="${category.name}" th:href="@{|/learn/category/${category.id}|}"></a><br>
          <a th:href="@{|/learn/category/${category.id}|}"> <img th:alt="${category.name}" th:src="@{/img/other.png}"></a>
          <span th:text="|Liczba słowek: ${category.numberOfWords}|"></span>
          <label>Ile słówek chcesz powtórzyć?
            <input th:value="${category.numberOfWords}" value="10" type="number" name="number" min="1" th:max="${category.numberOfWords}">
          </label>
          <input type="submit" value="Start">
        </form>
      </li>
    </ul>

  </div>

</main>

</body>

</html>