<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title th:text="|Statystyki użytkownika ${#authentication.getName()}|">Statystyki </title>
</head>
<h1 th:text="|Statystyki użytkownika: ${#authentication.getName()}|"></h1>
<main class="main-content" layout:fragment="content">
  <h1>Statystki</h1>
  <div class="table-div">
  <table class="default-table">
    <thead>
    <tr>
      <th>Nazwa statystyki</th>
      <th>Wartość</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Nazwa użytkownika</td>
      <td th:text="${#authentication.getName()}"></td>
    </tr>
    <tr>
      <td>Data rejestracji</td>
      <td th:text="|${#temporals.format(user.registerDate, 'yyyy-MM-dd HH:mm:ss')}|"></td>
    </tr>
    <tr>
      <td>Ostatnie logowanie</td>
      <td th:text="|${#temporals.format(user.lastLogin, 'yyyy-MM-dd HH:mm:ss')}|"></td>
    </tr>
    <tr>
      <td>Powtórzonych słówek</td>
      <td th:text="${user.repeatedWords}"></td>
    </tr>
    <tr>
      <td>Powtórzonych słówek dzisiaj</td>
      <td th:text="${user.repeatedWordsToday}"></td>
    </tr>
    <tr>
      <td>Liczba dni nauki z rzędu</td>
      <td th:text="${user.daysInARow}"></td>
    </tr>
    <tr>
      <td>Łączny czas spędzony na nauce</td>
      <td th:text="|${#numbers.formatDecimal(user.allTime/60, 1, 0)} minut|"></td>
    </tr>
    <tr>
      <td>Czas spędzony na nauce dzisiaj</td>
      <td th:text="|${#numbers.formatDecimal(user.timeToday/60, 1, 0)} minut|"></td>
    </tr>
    <tr>
      <td>Liczba nowych słówek</td>
      <td th:text="${user.newWords}"></td>
    </tr>
    <tr>
      <td>Liczba nowych słówek dodanych w tym tygodniu</td>
      <td th:text="${user.newWordsWeek}"></td>
    </tr>
    <tr>
      <td>Liczba zapamiętanych słowek</td>
      <td th:text="${user.learnedWords}"></td>
    </tr>
    <tr>
      <td>Liczba jeszcze nie zapamiętanych słówek</td>
      <td th:text="${user.wordsToLearn}"></td>
    </tr>
    </tbody>
  </table>
  </div>

</main>
</html>